-
    const block1 = [
        "Быстро впитывается – никакого липкого слоя и жирного блеска;",
        "Не скатывается – идеальная основа под макияж;",
        "Не забивает поры – ровная чистая кожа надолго;",
        "Долго не заканчивается — супербаночка на 100 мл."
    ]
    const block2 = [
        "Подходит для всех типов кожи;",
        "Не сушит и не стягивает;",
        "Удаляет даже стойкий макияж.",
    ]



