section.share
    .share__container.container
        h2.share__title
            | Поделиться
        .share__social
            a.share__item.share__item-vk(href="#")
            a.share__item.share__item-fb(href="#")
        .share__info
            | Нажав на значок, вы соглашаетесь с тем,
            | что ознакомились и принимаете положения Политики
            | в отношении обработки персональных данных.