section.hero
    .hero__container.container
        .hero__shell
            h1.hero__title
                | Комплексный уход <br> от Nivea CARE
            p.hero__description
                |  – то, что нужно вашей коже