section.breadcrumb
    .breadcrumb__container.container
        ul.breadcrumb__list
            li.breadcrumb__item
                a.breadcrumb__link(href="#")
                    include house.svg
            li.breadcrumb__item
                a.breadcrumb__link(href="#") Акция
            li.breadcrumb__item
                a.breadcrumb__link(href="#") CARE MAX
        a.breadcrumb__arrow(href="#")
            include arrow-up.svg
            span.breadcrumb__arrow-text Топ