section.cream
    .cream__container.container
        h2.cream__title
            | Увлажняем кожу с помощью крема для лица Care
        ul.cream__list
            li.cream__item
                p.cream__text
                    | Крем Care от Nivea увлажняет глубокие
                    | слои кожи и сохраняет ее внутри до 24 часов!
            li.cream__item
                .cream__shell
                    img.cream__img(src="img/content/cream-care.png" alt="crem care")
        h3.cream__sub-title
            | 100% увлажнения и 0% жирного блеска!
        p.cream__description
            | Легкая формула крема быстро впитывается и при
            | этом эффективно увлажняет глубокие слои кожи и
            | питает кожу, а его шелковистая текстура с маслом
            | Ши придает коже особую мягкость и устраняет сухость и шелушения.
        img.cream__img-bottom(src="img/content/cream-care.png" alt="crem care")
        h3.cream__sub-title
            | Крем Care от Nivea увлажняет глубокие
            | слои кожи и сохраняет ее внутри до 24 часов!

    +advantage("Забота и комфорт в одной баночке", block1)
    .cream__btn
        +btn("#", "Купить")





