header.header
    .header__container.container
        .header__left
            a.header__logo(href="#")
                .header__logo-span
                 include logo.svg
            nav.header__nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#") Продукты
                    li.nav__item
                        a.nav__link(href="#") Рекомендации
                    li.nav__item
                        a.nav__link(href="#") Новинки
                    li.nav__item
                        a.nav__link(href="#") Мир Nivea
        .header__right
            a.header__manag
                include search.svg
            a.header__manag
                include face.svg
            a.header__manag
                include moon.svg


