section.result
    .result__container.container
        h3.result__sub-title
            | Результат
        h2.result__title
            | Красивая сияющая кожа каждый день!
    .result__shell
        .result__container.container
            ul.result__list
                li.result__item
                    h3.result__item-title
                        | Почему кожа тускнеет<br> к концу дня?
                    p.result__item-text
                        | Все дело в недостатке увлажнения.
                        | Клетки кожи быстро теряют влагу и не могут
                        | самостоятельно восполнить ее в течение дня.
                        | Поэтому нужно средство, которое не просто
                        | увлажняет верхний слой кожи, а насыщает клетки влагой на весь день.
                li.result__item
                    img.result__img(src="img/content/face-1.jpg" alt="Лицо девушки")
    .result__container.container
        ul.result__list
            li.result__item
                img.result__img(src="img/content/face-2.jpg" alt="Лицо девушки")
            li.result__item
                h3.result__item-title
                    | А мне подойдет уход <br> Nivea Care?
                p.result__item-text
                    | Конечно, подойдет! Крем и гель Care – это комплексный уход,
                    | созданный для всех типов кожи. При ежедневном использовании клетки
                    | кожи наполняются влагой и витаминами, что способствует
                    | упругости и ровному цвету лица.
        h2.result__title-bottom
            | Красивая кожа – это так просто!


