footer.footer
    .footer__top
        .footer__container.container
            .footer__column
                .footer__nav
                    .footer__title
                        | Будьте в курсе: будьте в курсе событий
                    ul.footer__nav-list
                        li.footer__nav-item
                            a.footer__link(href="#")
                                | Условия пользования
                        li.footer__nav-item
                            a.footer__link(href="#")
                                | Политика в отношении обработки персональных данных
                        li.footer__nav-item
                            a.footer__link(href="#")
                                | Юридическая информация
                .footer__help
                    .footer__title
                        | Как мы можем вам помочь: больше о nivea
                    ul.footer__help-list
                        li.footer__help-item
                            a.footer__link(href="#")
                                | Где купить?
                        li.footer__help-item
                            a.footer__link(href="#")
                                | История бренда
                        li.footer__help-item
                            a.footer__link(href="#")
                                | Карьера в Beiersdorf
                    ul.footer__help-list
                        li.footer__help-item
                            a.footer__link(href="#")
                                | Забота о планете с NIVEA
                        li.footer__help-item
                            a.footer__link(href="#")
                                | Контакты
            .footer__column
                .footer__mailing
                    .footer__title
                        | Наша рассылка
                    .footer__text-line
                        p.footer__text
                            | - Последняя информация, советы по уходу, идеи и предложения
                        p.footer__text
                            | - Эксклюзивные бесплатные образцы продукции,
                            | подобранные специально для вас
                    form.footer__form(action="/" method="post")
                        input.footer__input(type="email" name="email" placeholder="Электронная почта")
                        button.btn.footer__btn(type="submit")
                            | Отправить
                .footer__social
                    .footer__social-title
                        | Присоединяйтесь
                    .footer__social-line
                        a.footer__social-item.footer__social-item-vk(href="#")
                        a.footer__social-item.footer__social-item-inst(href="#")
                        a.footer__social-item.footer__social-item-youtube(href="#")
    .footer__bottom
        .footer__container.container
            .footer__copy
                .footer__copy-logo
                    a.footer__copy-link(href="#")
                        include beiersdorf.svg
                .footer__copy-text
                    | Copyright © Beiersdorf 2021