section.submenu
    .submenu__container.container
        ul.submenu__list
            li.submenu__item
                a.submenu__link(href="#") Как принять участие
            li.submenu__item
                a.submenu__link(href="#") Правила
            li.submenu__item
                a.submenu__link(href="#") Призы
            li.submenu__item
                a.submenu__link(href="#") Как сфотографировать чек
            li.submenu__item
                a.submenu__link(href="#") Вопросы
            li.submenu__item
                a.submenu__link(href="#") Чат-бот