section.gel
    .gel__container.container
        h2.gel__title
            | Бережное очищение без сухости кожи
        ul.gel__list
            li.gel__item
                .gel__shell
                    img.gel__img(src="img/content/gel.png" alt="gel")
            li.gel__item
                p.gel__text
                    | Гель Care – это комфортное очищение с заботой о вашей коже.

        h3.gel__sub-title
            | Не просто очищает, а ухаживает за кожей!
        p.gel__description
            | Освежающий гель с витамином Е мягко удаляет макияж и все загрязнения.
            | При соприкосновении с водой, он превращается в шелковистую пену,
            | которая глубоко очищает и увлажняет кожу.

    +advantage("Забота и комфорт в одной баночке", block2)
    .gel__btn
        +btn("#", "Купить")