.products-card {
    display: flex;
    flex-direction: column;
    padding: 0 40px 0;
    width: 468px;
    align-items: center;
    background-color: white;
    &:nth-child(3){
        padding-bottom: 9px;
    }
    &:nth-child(5){
        padding-bottom: 10px;
    }

    &__block {
        min-height: 306px;
        width: 100%;
        text-align: center;
    }
    &__img{
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 34px;
        max-width: 315px;
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
    }
    &__line {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 25px;
    }
    &__svg {
        transform: translateX(13px);
    }
    &__btns {
        display: flex;
        align-items: center;
        padding-bottom: 42px;
    }
    &__btn {
        margin-right: 61px;
    }
}
