-
    const imgs = [
        {
            title: 'Увлажняющий крем для лица Care',
            src: 'img/content/gel2.png',
            alt: 'Увлажняющий крем',
            width: '132',
        },
        {
            title: 'Очищающий гель <br> для лица Care',
            src: 'img/content/cream-care2.png',
            alt: 'Очищающий гель',
            width: '266',
        },
        {
            title: 'Ночной крем для лица Care',
            src: 'img/content/cream-care-night.png',
            alt: 'Ночной крем',
            width: '276',
        },
        {
            title: 'Очищающий гель <br> для лица Care',
            src: 'img/content/cream-care-gial.png',
            alt: 'Гель для лица',
            width: '279',
        },
        {
            title: 'Увлажняющий крем для лица nivea care антивозрастной',
            src: 'img/content/cream-care-age.png',
            alt: 'Крем антивозрастной',
            width: '271',
        },
        {
            title: 'Увлажняющий крем care для чувствительной кожи',
            src: 'img/content/cream-care-feelings.png',
            alt: 'Крем для чувствительной кожи',
            width: '269',
        },
    ]


